@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom CSS for the float animation */
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


.floating-image {
  animation: floatUpDown 2s infinite;

  
}

@layer components {
  .navLink {
    @apply text-slate-950 font-medium rounded-full transition-all hover:text-[#4831d4] hover:underline hover:underline-offset-8 duration-200;
  }
  .socialIcon {
    @apply bg-transparent text-slate-950 hover:text-[#4831d4] cursor-pointer 
  }
  .skillsIcon {
    @apply bg-[#4831d4] uppercase bg-opacity-60 text-center rounded-full px-3 py-1 text-[0.7rem] font-semibold text-slate-950 w-[auto] truncate
  }
}

